table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  button{
    margin:4px;
  }
  
  .remove-button {
    padding: 6px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .edit-button {
    padding: 6px;
    background-color: #f4f436;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button.add-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }