.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    width: 90%;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #000;
  }
  
  h2 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button.add-button:hover {
    background-color: #3e8e41;
  }
  
  button.add-button:active {
    background-color: #3e8e41;
    box-shadow: 2px 2px #666;

    /* Faz com que o elemento se mova no eixo Y */
    transform: translateY(4px);
  }
  