<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Projeto Node.js</title>

    <style>
        .nav-body {
            padding: 1rem;
        }
        .navbar-right {
            margin-left: auto !important;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>